.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.imgDiv {
  background-image: url("../../Images//GraphicImages/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  .imgDiv {
    clip-path: polygon(
      49% 5%,
      100% 0,
      95% 35%,
      100% 70%,
      80% 90%,
      50% 100%,
      20% 90%,
      0% 70%,
      5% 35%,
      0 0
    );
  }
}
